@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 1156px) {
	.talk-con-mob {
		width: 600px;
		height: 500px;
		border: 1px solid #666;
		margin: 50px auto 0;
		background: #f9f9f9;
	}
	.talk-show-mob {
		width: 580px;
		height: 420px;
		border: 1px solid #666;
		background: #fff;
		margin: 10px auto 0;
		overflow: auto;
	}
	.talk-input-mob {
		width: 580px;
		margin: 10px auto 0;
	}
	.talk-word-mob {
		width: 420px;
		height: 26px;
		padding: 0px;
		float: left;
		margin-left: 10px;
		outline: none;
		text-indent: 10px;
	}
}

.talk-con {
	width: 300px;
	height: 380px;
	border: 1px solid #666;
	margin: 50px auto 0;
	background: #f9f9f9;
	border-radius: 10px;
    position: fixed;
    right: 80px;
    bottom: 52px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.talk-show {
	width: 280px;
	height: 300px;
	border: 1px solid #666;
	background: #fff;
	margin: 10px auto 0;
	overflow: auto;
	border-radius: 10px;
}

.talk-input {
	width: 300px;
	margin: 10px auto 0;
}

.whotalk {
	width: 80px;
	height: 30px;
	float: left;
	outline: none;
}

.talk-word {
	width: 200px;
	height: 26px;
	padding: 0px;
	float: left;
	margin-left: 10px;
	outline: none;
	text-indent: 10px;
	border-radius: 5px;
}

.talk-sub {
	width: 56px;
	height: 30px;
	float: right;
	margin-right: 10px;
	border-radius: 5px;
}

.atalk {
	margin: 10px;
}

.atalk span {
	display: inline-block;
	background: #0181cc;
	border-radius: 10px;
	color: #fff;
	padding: 5px 10px;
}

.btalk {
	margin: 10px;
	text-align: right;
}

.btalk span {
	display: inline-block;
	background: #ef8201;
	border-radius: 10px;
	color: #fff;
	padding: 5px 10px;
}

.chatbot-icon {
	border-radius: 50%;
	width: 15%;
	height: 15%;
}

.chatbot-icon, .asay {
	display: inline-block;
}

.card img {
	display: block;
	width: 80%;
	height: auto;
	margin: auto;
}

#words .card {
	width: 100%;
	height: auto;
	float: left;
}

.chatbot-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
	width: 60px;
	height: 60px;
	background-color: #d9ddeb;
	border-radius: 50%;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	z-index: 10000;
}

.show-icon {
	position: absolute;
    left: 11px;
    top: 10px;
    font-size: 40px;
}

.close-icon {
	position: absolute;
    left: 17px;
    top: 11px;
    font-size: 40px;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
	.talk-con {
	    position: absolute;
	    right: 0;
	    left: 0;
	    bottom: 68px;
	}
}
