#content > a:not(#store-photo, #another-pohoto, #back-btn),a:link:not(#store-photo, #another-pohoto, #back-btn),a:visited:not(#store-photo, #another-pohoto, #back-btn){
    color: black;
}
#content > a:hover:not(#store-photo, #another-pohoto, #back-btn){
    color: black !important;
}

.Splitter{
    min-height: 50px;
}

#loadingDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    opacity: 0.6;
    z-index: 10000;
}

#loadingImg {
    display: none;
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    z-index: 10001;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    position: absolute;
    right: 0;
    width: 310px;
    height: 107%;
    background: #beebe9;
    color: black;
    padding: 10px;
    box-shadow: 3px 3px 3px 6px rgba(0, 0, 0, 0.2);
}

#sidebarCollapse {
    display: none;
    margin-bottom: 5px;
}

#hairstyle, #hair-color, #face-match {
    height: 76vh;
    overflow-y: auto;
}

#hairstyle img{
    width: 120px;
    margin: 3px;
}

.hairstyleLongPos {
	position: relative;
	z-index: 15;
	left: -25px;
    top: 57px;
    width: 400px;
}

.hairstyleShortPos {
	position: relative;
	z-index: 15;
	left: 36px;
    top: 70px;
    width: 280px;
}

.hairstyleBoyPos {
	position: relative;
	z-index: 15;
	left: 65px;
    top: 62px;
    width: 220px;
}

#hairstyle-type {
    margin: 15px;
}

.img-div {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.favorite {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 8% !important;
}

#colorpicker {
    margin: 35px;
}

.hairstyle-div, .facematch-div {
    display: initial;
    position: relative;
}

.detail-img {
	position: absolute;
    right: 0px;
    width: 27px !important;;
    bottom: -70px !important;
    z-index: 20px;
}

.detail-img-link:hover {
	background-color: black;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.facematch-div img {
	width: 120px;
	margin: 3px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#face-match-img {
	width: 50%;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#dismiss {
    visibility:hidden;
}

#another-pohoto {
    margin-left: 5px;
}

#frame {
    position: absolute;
    width: 350px;
    height: 500px;
    right: 470px;
    left: 200px;
    margin: 0 auto;
}

#face-frame {
	z-index: 10;
}

#user-edited-photo, #face-frame {
    position: absolute;
    width: 350px;
    height: 500px;
}

.icon {
    position: absolute;
    right: 330px;
    top: 70px;
    padding: 0;
    border: 1px black solid;
}

.icon li {
    list-style-type:none;
    float:left;
    margin:0 5px;    
}

.icon i {
    margin: 5px;
    font-size: 20px;
}

.to-center {
    text-align: center;
}

#stored-img {
    width: 200px;
}

h4 {
    margin-top: 8px !important;
}

#fb-icon {
    width: 40px;
    margin: 5px;
}

#colorpicker {
	display: initial;
}

#color-value{
	display: none;
}

#random-user-photo {
    right: 0px;
    width: 50% !important;
    z-index: 20px !important;
}

/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
   
.padding-40 {
	padding: 40px;	
}   

.card-img {
	width: 90% !important;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.work-content {
	height: 360px;
	overflow-x: hidden;
	overflow-y: auto;
}

#hashtag span {
	margin: 2px;
}

img.cssbox_thumb{
  width: 120px;
  margin-top: 5px;
}

div.cssbox {
  display: initial;
  position: relative;
}

span.cssbox_full {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: opacity 0.5s linear;
}

span.cssbox_full .row {
  border-radius: 5px;
  width: 600px;
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px black;
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
  z-index: 999;
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white !important;
  font-size: 40px;
}

a.cssbox_close {
  top: 9%;
  right: 10%
}

a.cssbox_close::after {
  content: '\00d7';
}

a.cssbox_prev,
a.cssbox_next {
  top: 50%;
  transform: translate(0%, -50%);
}

a.cssbox_prev {
  left: 5%;
}

a.cssbox_next {
  right: 5%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
  visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}
/* This is the end of CSSBox */


.show-hairstyle {
	width: 140px;
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
	#sidebar {
		width: 250px;
		top: 56px;
		left: -260px;
		height: 100vh;
		z-index: 999;
		transition: all 0.3s;
		overflow-y: scroll;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	}
	#sidebar.active {
		left: 0;
	}
	#sidebarCollapse {
		display: block;
	}
	#content {
		margin-left: 0;
	}
	#dismiss {
		visibility: visible;
		width: 35px;
		height: 35px;
		position: absolute;
		top: 43px;
		right: 10px;
		cursor: pointer;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	#dismiss:hover {
		background: #fff;
		color: #7386D5;
	}
	.card-img {
  		width: 70% !important;
		position: initial;
	}
}


@media only screen and (min-width: 0px) and (max-width: 575px){ 
    #sidebar {
        width: 285px;
        position: fixed;
        left: -305px;
        height: 100vh;
        z-index: 999;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    
    #sidebar.active {
        left: 0;
    }
    
    #sidebarCollapse {
        display: block;
    }
    #dismiss {
        visibility: visible;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 24px;
        right: -5px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    #dismiss:hover {
        background: #fff;
        color: #7386D5;
    }
        
    #frame {
        right: 0;
        left: 0;
    }

    .icon {
        right: 10px;
        top: 110px;
    }
    
    #colorpicker {
    	display: none;
    }
    
	#color-value {
		display: initial;
		width: 50px;
		height: 50px;
	}
}

@media only screen and (min-width: 574px) and (max-width: 873px){ 
    #frame {
        left: 0px;
        right: 320px;
    }
}