
.Splitter {
    min-height: 80px;
}

#forget-password-form {
    margin-left: 10px;
}

input {
    width: 250px !important;
}

#loadingDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    opacity: 0.6;
    z-index: 1000;
}

#loadingImg {
    display: none;
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    z-index: 1001;
}