html{
	position:fixed;	
	height:100%;
	width:100%;
}
    
body {
    overflow: hidden;
}

::-webkit-scrollbar { /*hidden scrollbar*/
	overflow: hidden
}

#ocntent {
    position: relative;
    height: 100vh;
}

.btn-setting {
    font-size: 30px !important;
    border-radius: 10px !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

#content p {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 61%;
}

.icon {
    position: absolute;
    top: 80px;
    list-style-type:none;
    z-index: 15;
}

#frame {
    position: absolute;
    width: 350px;
    height: 500px;
    top: 60px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#face-frame {
    position: absolute;
    width: 350px;
    height: 500px;
    z-index: 10;
}

#edited-photo {
    position: absolute;
    z-index: 1;
}

.hint-setting {
    position: absolute;
    top: 140px;
    left: 38px;
    z-index: 10;
}

@media only screen and (min-width: 0px) and (max-width: 575px){ 
    .btn-setting {
        font-size: initial !important;
    }
}