.Splitter{
    min-height: 50px;
}

content > a,a:link,a:visited{
    color: black !important;
    text-decoration: none !important;
}
content > a:hover{
    color: black !important;
    text-decoration: none;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    left: 0;
    width: 310px;
    height: -webkit-fill-available;
    background: #beebe9;
    color: black;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}


#sidebarCollapse {
    display: none;
}

.card-size{
    width: 77%;
    margin: 5px auto;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    margin-left: 310px;
    padding: 20px;
    min-height: 100vh;
}

#dismiss {
    visibility:hidden;
}

#sidebar > a > img{
    width: 7%;
    vertical-align:middle;
}

#content > img {
    width: 2%;
    vertical-align:middle;
    margin: 5px;
}

#content .card-body img {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 5px;
}

.card {
    margin: 5px;
}

.card-img {
    margin: 8px auto;
}

@media only screen and (min-width: 0px) and (max-width: 575px){ 
    #sidebar {
        width: 250px;
        top: 56px;
        left: -260px;
        height: 100vh;
        z-index: 999;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    
    #sidebar.active {
        left: 0;
    }
    
    #sidebarCollapse {
        display: block;
    }
    
    #content {
        margin-left: 0;
    }

    #dismiss {
        visibility: visible;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 43px;
        right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    #dismiss:hover {
        background: #fff;
        color: #7386D5;
    }

    .card-size {
        width: 90%;
    }
}