
    
body {
    overflow: hidden;
}

::-webkit-scrollbar { /*hidden scrollbar*/
	overflow: hidden
}

.calendar>a, a:link, a:visited {
	color: black;
	text-decoration: none !important;
}

.calendar>a:hover {
	color: black !important;
	text-decoration: none;
}

.Splitter {
	min-height: 80px;
}

#back {
	position: relative;
	left: 10px;
}

a>img {
	width: 20;
	vertical-align: middle;
}

#cost-list {
	position: absolute;
	top: 150px;
	left: 180px;
	width: 200px;
}

.chart-container {
	position: relative;
	height: 800px;
	width: 800px;
	left: 220px;
}