<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SearcHair</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>user.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgetPwdServlet</servlet-name>
    <servlet-class>user.ForgetPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPwdServlet</servlet-name>
    <servlet-class>user.ResetPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>search.SeaechServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeaechOneServlet</servlet-name>
    <servlet-class>search.SeaechOneServlet</servlet-class>
  </servlet>
</web-app>